

.videoSidebar {
    position: absolute;
    top: 50%;
    right: 10px;
    color: rgb(233, 211, 211);
  }
  
  .videoSidebar__button {
    padding: 15px;
    text-align: center;
  }

  .winOrLose {
      display: flex;
  }

  .profile {
    background-color: grey;
    border-radius: 100%;
    height: 65px;
    width: 65px;
    right: 70px;
    margin-left: 17px;
}



  